body {
		background: #ffffff;
    font-family: 'Lora', serif;
    font-style: normal;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.5px;
}

h1 {
    font-size: 62px;
    padding-bottom: 5px;
    font-family: 'Stylish', sans-serif;
}

h2 {
  font-size: 32px;
}

h2,h3 {
  padding-bottom: 6px;
}

h3 {
  font-size: 26px;
}

h4 {
  color: #666;
  font-size: 22px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
}


/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d638c;
}

#about {
  background: #dce0d9;
  padding-top: 60px;
  padding-bottom: 80px;
}


.overlay {
  background:#353535;
  width: 100%;
  height: 100vh;
  position: absolute;
}






/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
     align-items: center;
    position: relative;
    text-align: center;
}

.home-image {
  height: 100vh;
}

#home h4 {
  color: #dce0d9;
}
